# Python
__pycache__/
*.pyc
.venv/
.env

# Node (for future frontend)
node_modules/
.next/

# General
*.log
*.sqlite3

# IDE config
.vscode/

# App data folders
data/
pgdata/
.qodo/

# Local zip backups
backup.zip

# SQL
*sql
