# Backend

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
alembic/

# Node (for future frontend)
node_modules/
.next/

# General
*.log
*.sqlite3

# IDE config
.vscode/

# App data folders
data/
pgdata/
.qodo/

# Local zip backups
backend_backup.zip

# SQL
*sql

# Frontend
frontend/